<!-- your html code here -->
<div class="row my-5">
    <div class="col-2"></div>
    <div class="col-5 d-flex p-2 bd-highlight">
        <div class="my-auto">
            <h2>This First Heading <span class="text-muted">Will Catch Your Eye</span> </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate animi accusamus repellat doloremque
                dolore maiores dolorem suscipit eveniet voluptates molestias, pariatur ab nisi eos veniam, nulla debitis
                error possimus expedita?</p>
        </div>
    </div>
    <div class="col-3">
        <img class="image-responsive fit-image w-75 rounded-circle" src="/website1/assets/img/1.jpg" alt="">
    </div>
    <div class="col-2"></div>
</div>