<!-- your html code here -->
<div class="row my-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <h1>Portafolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatibus nemo libero iste odio
                explicabo, maiores in aperiam dignissimos, tempora harum debitis nulla sint facere. Sunt quos culpa sit
                tenetur?</p>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card mx-0">
                    <img src="http://placehold.it/700x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem velit officia
                            corrupti quibusdam adipisci neque beatae commodi labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-0">
                    <img src="http://placehold.it/700x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem velit officia
                            corrupti quibusdam adipisci neque beatae commodi labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card mx-0">
                    <img src="http://placehold.it/700x400" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem velit officia
                            corrupti quibusdam adipisci neque beatae commodi labore.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>