<!-- your html code here -->
<div class="row my-5 py-4">
    <div class="col-0 col-md-2"></div>


    <div class="col-12 col-md-8">
        <div class="row mx-5 mx-md-0 my-4">
            <h1>Portafolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatibus nemo libero iste odio
                explicabo, maiores in aperiam dignissimos, tempora harum debitis nulla sint facere. Sunt quos culpa sit
                tenetur?</p>
        </div>
        <div class="row mx-5 mx-md-0">
            
                <div class="col-9 col-md-4 mx-auto my-3">
                    <div class="card ">
                        <img src="http://placehold.it/700x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem velit officia
                                corrupti quibusdam adipisci neque beatae commodi labore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-4 mx-auto my-3">
                    <div class="card ">
                        <img src="http://placehold.it/700x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem velit officia
                                corrupti quibusdam adipisci neque beatae commodi labore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-9 col-md-4 mx-auto my-3">
                    <div class="card">
                        <img src="http://placehold.it/700x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, exercitationem velit officia
                                corrupti quibusdam adipisci neque beatae commodi labore.</p>
                        </div>
                    </div>
                </div>
           
        </div>
        
    </div>
    <div class="col-0 col-md-2"></div>
</div>