<!-- your html code here -->
<div class="row">
    <div class="col-2"></div>
    <div class="col-3">
        <img src="/website1/assets/img/2.jpg" class="image-responsive fit-image w-75 rounded-circle">
    </div>
    <div class="col-5 d-flex p-2 bd-hight-light">
    <div class="my-auto">
        <h2>The second Heading <span class="text-muted">is pretty cool too</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magnam provident eveniet, a inventore alias iure qui, corporis ab ratione eos laboriosam quasi impedit explicabo in perferendis dolor quam adipisci.</p>      </p>
    </div>
    <div class="col-2"></div>  
</div>
