<!-- your html code here -->
<div class="row my-5 py-4">
    <div class="col-0 col-md-2"></div>
    <div class="col-12 col-md-8">
        <div class="row mx-5 mx-md-0">
            <div class="col-12 col-md-4 order-last order-md-first">
                <img src="/website1/assets/img/2.jpg" class="image-responsive fit-image w-100 rounded-circle">
            </div>
            <div class="col-12 col-md-8 d-flex p-2 bd-highlight">
                <div class="my-auto">
                    <h2>The second Heading <span class="text-muted">is pretty cool too</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magnam provident eveniet, a
                        inventore
                        alias iure qui, corporis ab ratione eos laboriosam quasi impedit explicabo in perferendis dolor
                        quam
                        adipisci.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-3col-md-2"></div>
</div>