<!-- your html code here -->
<div class="pt-5" style="background-image: url('assets/img/bg.jpg'); background-size: cover; height: 100vh;">

    <div class="jumbotron jumbotron-fluid justify-content-center py-2 ">
        <h1 class=" text-center display-1 my-auto" ><strong>One Page Wonder</strong> </h1>
    </div>
    <div class="jumbotron jumbotron-fluid justify-content-center py-1">
        <h1 class=" text-center display-4 " ><strong> Will Knock Your Socks Off</strong></h1>
    </div>


</div>

